---
import Layout from "../../layouts/Layout.astro";
import { getEntry } from "astro:content";

const { slug } = Astro.params;
if (!slug) {
  throw new Error("Slug is missing.");
}

const entry = await getEntry("blog", slug);
if (!entry) {
  throw new Error(`Post not found for slug: ${slug}`);
}

const authorEntry = await getEntry("author", entry.data.author.slug);
if (!authorEntry) {
  throw new Error(`Author not found for reference: ${entry.data.author.slug}`);
}

const { Content, remarkPluginFrontmatter } = await entry.render();

if (!entry) {
  throw new Error(`Post not found for slug: ${slug}`);
}

function getOrdinalSuffix(day: number) {
  if (day > 3 && day < 21) return "th";
  switch (day % 10) {
    case 1:
      return "st";
    case 2:
      return "nd";
    case 3:
      return "rd";
    default:
      return "th";
  }
}

function formatDate(date: Date) {
  const d = new Date(date);
  const day = d.getDate();
  const dayWithSuffix = day + getOrdinalSuffix(day);
  return `${dayWithSuffix} ${d.toLocaleString("default", { month: "long" })}, ${d.getFullYear()}`;
}
---

<Layout title={`${entry.data.title} • Savant`}>
  <div class="mb-8 py-16 bg-gray-900 text-white">
    <div class="w-[90%] sm:w-[80%] md:w-[75%] lg:w-[60%] mx-auto">
      <h1 class="text-5xl max-[371px]:text-3xl font-black">{entry.data.title}</h1>
      <p class="flex flex-wrap text-lg font-light leading-6 italic max-[371px]:text-sm sm:text-md details items-center">
        <a
          href={`/author/${entry.data.author.slug}`}
          class="flex items-center mr-2 monospace-font"
        >
          <img
            src={authorEntry.data.avatar}
            class="w-6 h-6 rounded-full inline-block mr-3"
          />
          {authorEntry.data.name}</a
        ><span class="mr-2 monospace-font">• {formatDate(entry.data.date)}</span
        ><span class="monospace-font"
          >• {remarkPluginFrontmatter.minutesRead}</span
        >
      </p>
    </div>
  </div>
  <div
    class="w-[90%] sm:w-[80%] md:w-[75%] lg:w-[60%] xl:w-[50%] mx-auto lg:py-4"
  >
    <div class="post-body">
      <Content />
    </div>
    <footer
      class="mt-12 text-center justify-center max-sm:grid grid-cols-1 min-[480px]:grid-cols-2 sm:flex gap-2"
    >
      {
        entry.data.tags?.map((tag: string) => (
          <span class="h-max bg-gray-300 px-4 py-2 rounded-xl font-semibold cursor-pointer">
            # {tag}
          </span>
        ))
      }
    </footer>
  </div>
</Layout>

<style is:global>
  .post-body {
    margin-top: 2rem;
    overflow-x: auto;word-wrap: break-word; /* Wrap long words properly */
    overflow-wrap: break-word; /* Ensure words break appropriately */
    white-space: normal; /* Preserve formatting and wrap text */
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 800;
    margin: 1rem 0 0 0;
  }

  h2 {
    font-size: 2.25rem;
    font-weight: 800;
    margin: 1rem 0 0 0;
  }

  h3 {
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem 0 0 0;
  }

  h4 {
    font-size: 1.75rem;
    font-weight: 700;
    margin: 0.8rem 0 0 0;
  }

  h5 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.7rem 0 0 0;
  }

  h6 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0.7rem 0 0 0;
  }

  p {
    font-size: 1.1rem;
    margin: 1rem 0;
  }

  p>code, li>code {
    background: #dddddd;
    padding: 0.2rem 0.4rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
  }

  pre {
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem 0;
  }

  code {
    overflow-x: auto;
    font-family: "Roboto Mono", monospace !important;
  }

  li>pre>code>span.line>span {
    font-size: 1rem;
  }

  img {
    max-width: 100%;
    margin: 1rem 0;
    border-radius: 0.5rem;
  }

  blockquote {
    border-left: 4px solid #3182ce;
    padding-left: 1rem;
    margin: 1rem 0;
  }

  blockquote p {
    margin: 0;
  }

  ul {
    list-style-type: disc;
    padding-left: 2rem;
    font-size: 1.1rem;
  }

  ol {
    list-style-type: decimal;
    padding-left: 2rem;
    font-size: 1.1rem;
  }

  li {
    margin: 0.5rem 0;
    font-size: 1.1rem;
  }

  hr {
    border: 0;
    border-top: 1px solid #e2e8f0;
    margin: 2rem 0;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 2rem 0;
    border: 1.5px solid;
    font-size: 1.1rem;
    padding: 2rem;
  }

  th {
    text-align: left;
    padding: 0.5rem 1rem;
    border-bottom: 1.5px solid;
    font-weight: 800;
    font-size: 1.1rem;
  }

  td {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid;
    font-size: 1.1rem;
  }

  .navbar .blog-headers {
    text-decoration: none;
    color: white;
    font-weight: 700;
    @apply text-xl md:text-2xl;
  }

  .details {
    font-family: "Roboto Mono", monospace !important;
  }

  .monospace-font {
    font-family: "Roboto Mono", monospace !important;
  }

  .post-body a {
    @apply border-b-2 border-dotted border-b-black;
  }

  span.katex-display {
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

span.katex-display::-webkit-scrollbar {
    display: none;
}

</style>
