---
import { formatDate } from "../utils/dateFormat";
const { title, author, authorAvatar, authorProfileLink, date, imageSrc, slug } =
  Astro.props;
---

<div
  class="rounded-lg relative bg-white dark:bg-gray-900 text-gray-900 dark:text-white shadow-md hover:shadow-lg transition-shadow duration-300 h-full flex flex-col"
>
  <a href={`/blog/${slug}`} class="block flex-grow">
    <img
      class="w-full object-cover rounded-t-lg h-48"
      src={imageSrc || "/placeholder.webp"}
      alt="Blog Card Image"
    />
    <hr class="border-gray-200 dark:border-gray-700 border-t-1" />
    <div class="p-4 flex flex-col justify-between h-full">
      <h1 class="text-lg sm:text-xl font-bold mb-2 pb-2">
        {title}
      </h1>
      <div
        class="flex items-center py-1 border-t border-gray-200 dark:border-gray-700 text-sm sm:text-md text-gray-700 dark:text-gray-100 pt-2"
      >
        <a href={authorProfileLink}>
          <img
            src={`/authors/${authorAvatar}`}
            alt="Author Avatar"
            class="w-6 h-6 inline-block rounded-full mr-2"
          />
        </a>
        <a
          href={authorProfileLink}
          class="hover:text-blue-600 dark:hover:text-blue-300 transition-colors"
          >{author}</a
        >
        <span class="mx-2">•</span>
        <span>{formatDate(date)}</span>
      </div>
    </div>
  </a>
</div>

<style>
  a {
    cursor: url("/read.cur"), pointer;
  }
</style>
