---
import { formatDate } from "../utils/dateFormat";
const { title, author, date, imageSrc, slug } = Astro.props;
---

<div class="rounded-lg relative inline-block bg-gray-900 text-white">
  <a href={`/blog/${slug}`}>
    <img
      class="w-full object-cover rounded-t-lg h-48"
      src={imageSrc}
      alt="Blog Card Image"
    />
  </a>
  <hr class="border-white border-t-1" />
  <a href={`/blog/${slug}`}>
    <div class="p-4">
      <h1 class="text-xl font-extrabold">{title}</h1>
      <p class="py-1 text-md">{author} • {formatDate(date)}</p>
    </div>
  </a>
</div>
