---
import { formatDate } from "../utils/dateFormat";
const { title, author, authorAvatar, authorProfileLink, date, imageSrc, slug } =
  Astro.props;
---

<div class="rounded-lg relative inline-block bg-gray-900 text-white">
  <a href={`/blog/${slug}`}>
    <img
      class="w-full object-cover rounded-t-lg h-auto"
      src={imageSrc || "/placeholder.webp"}
      alt="Blog Card Image"
    />
  </a>
  <hr class="border-white border-t-1" />
  <a href={`/blog/${slug}`}>
    <div class="p-4">
      <h1 class="text-lg sm:text-xl font-bold">{title}</h1>
      <p class="py-1 text-sm sm:text-md">
        <a href={authorProfileLink}>
          <img
            src={authorAvatar}
            alt="Author Avatar"
            class="w-4 h-4 inline-block rounded-full mr-1"
          />
        </a>
        <a href={authorProfileLink}>{author}</a> • {formatDate(date)}
      </p>
    </div>
  </a>
</div>
