---
const { title, body, imageSrc, slug } = Astro.props;
---

<div class="border-2 border-black rounded-lg shadow-xl relative inline-block">
  <a href={slug}>
    <img
      class="w-full object-cover rounded-t-lg h-48"
      src={imageSrc}
      alt="Blog Card Image"
    />
  </a>
  <hr class="border-black border-t-2" />
  <a href={slug}>
    <div class="p-4">
      <h1 class="text-xl font-extrabold">{title}</h1>
      <p class="py-2 text-md font-medium">{body}</p>
    </div>
  </a>
</div>
