---
import { getCollection } from "astro:content";
import BlogCard from "./BlogCard.astro";

const blogPosts = (await getCollection("blog")).sort(
  (a, b) => {
    const dateA = new Date(a.data.date).getTime() || 0;
    const dateB = new Date(b.data.date).getTime() || 0;
    return dateB - dateA;
  }
);
const authors = await getCollection("author");
---

<div class="flex flex-col space-y-4 w-full items-center">
  <div class="text-2xl sm:text-3xl mb-4 font-bold">Recent posts</div>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 w-[80%] xl:w-[75%] gap-6"
  >
    {
      blogPosts.slice(0, 3).map((post) => {
        const authorData = authors.find(
          (author) => author.slug === post.data.author.slug
        );

        return (
          <BlogCard
            title={post.data.title}
            author={authorData?.data.name || "Unknown Author"}
            authorAvatar={authorData?.data.avatar}
            authorProfileLink={`/author/${post.data.author.slug}`}
            date={post.data.date}
            imageSrc={post.data.thumbnail}
            slug={post.slug}
          />
        );
      })
    }
  </div>
</div>
